<!DOCTYPE html>
<html lang="en">
<head>
<title>AirLines | Safety</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.5.2.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>
<script type="text/javascript" src="js/Cabin_400.font.js"></script>
<script type="text/javascript" src="js/tabs.js"></script>
<script type="text/javascript" src="js/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="js/atooltip.jquery.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">.main, .tabs ul.nav a, .content, .button1, .box1, .top { behavior:url("../js/PIE.htc")}</style>
<![endif]-->
</head>
<body id="page5">
<div class="main">
  <!--header -->
  <header>
    <div class="wrapper">
      <h1><a href="index.html" id="logo"></a></h1>
      
      <span id="slogan">"Proud Airline of the Midwest"</span>
      <nav id="top_nav">
        <ul>
          <li><a href="index.html" class="nav1">Home</a></li>
          <li><a href="#" class="nav2">Sitemap</a></li>
          <li><a href="contacts.html" class="nav3">Contact</a></li>
        </ul>
      </nav>
    </div>
    <nav>
      <ul id="menu">
        <li><a href="index.html"><span><span>Home</span></span></a></li>
        <li><a href="offers.html"><span><span>Deals</span></span></a></li>
        <li><a href="book.html"><span><span>Book</span></span></a></li>
        <li><a href="services.html"><span><span>Information</span></span></a></li>
        <li id="menu_active"><a href="safety.html"><span><span>About</span></span></a></li>
        <li class="end"><a href="contacts.html"><span><span>Contacts</span></span></a></li>
      </ul>
    </nav>
  </header>
  <!-- / header -->
  <!--content -->
  <section id="content">
    <div class="wrapper pad1">
      <article class="col1">
          <div class="box1">
              <h2 class="top">Weekly Offers</h2>
              <div class="pad"> <strong>From St. Louis Lambert [STL]</strong><br>
                <ul class="pad_bot1 list1">
                  <li> <span class="right color1">from $32.-</span> <a href="book2.html">Kansas City [KCI]</a> </li>
                <li> <span class="right color1">from $33.-</span> <a href="book2.html">Des Moines [DSM]</a> </li>
                <li> <span class="right color1">from  $30.-</span> <a href="book2.html">Omaha [OMA]</a> </li>
                </ul>
                <strong>From Chicago [ORD]</strong><br>
                <ul class="pad_bot1 list1">
                  <li> <span class="right color1">from  $35.-</span> <a href="book2.html">Madison, WI [MSN]</a> </li>
                  <li> <span class="right color1">from  $34.-</span> <a href="book2.html">Minneapolis - Saint Paul [MSP]</a> </li>
                <li> <span class="right color1">from  $30.-</span> <a href="book2.html">Green Bay Int [GRB]</a> </li>
                </ul>
                 
                <strong>From Indianapolis [IND]</strong><br>
                <ul class="pad_bot2 list1">
                  <li> <span class="right color1">from  $36.-</span> <a href="book2.html">Milwaulke, WI [MKE]</a> </li>
                  <li> <span class="right color1">from  $35.-</span> <a href="book2.html">Chicago [ORD]</a> </li>
                  <li> <span class="right color1">from $29.-</span> <a href="book2.html">Kansas City [KCI]</a> </li>
    
                </ul>
                <strong>From Minneapolis - Saint Paul [MSP]</strong><br>
                <ul class="pad_bot2 list1">
                  <li> <span class="right color1">from  $40.-</span> <a href="book2.html">Milwaulke, WI [MKE]</a> </li>
                  <li> <span class="right color1">from  $30.-</span> <a href="book2.html">Chicago [ORD]</a> </li>
                  <li> <span class="right color1">from $29.-</span> <a href="book2.html">Sioux Falls [FSD] </a> </li>
    
                </ul>
              </div>
            </div>
      </article>
      <article class="col2">
        <h3 class="pad_top1">About Us</h3>
        <div class="wrapper pad_bot2">
          <figure class="left marg_right1"><img src="" alt=""></figure>
          <p><strong>Maintaining our fleet of 120 aircraft, and 42 destinations in the Midwest. We are commited to providing a comfortable, safe, and on time airline service to midwest passengers. </p>
        </div>
        <div class="wrapper pad_bot2">
         
        </div>
        <div class="wrapper"> <a href="#" class="button1 right"><strong>Read More</strong></a> </div>
        <h3>Our Aircraft</h3>
        <p>We have many different kinds of aircraft ranging from small single prop's to Boeing 737's for our trunk routes.</p>
        <div class="wrapper">
          <div class="cols">
            <ul class="list1">
              <li><a href="#">Boeing 737</a></li>
              <li><a href="#">Embraer E140</a></li>
              <li><a href="#">Embraer E175</a></li>
              <li><a href="#">Embrear E190</a></li>
              <li><a href="#">McDonnel Douglas MD80</a></li>
              <li><a href="#">McDonnel Douglas MD82</a></li>
            </ul>
          </div>
          <div class="cols pad_left1">
            <ul class="list1">
              <li><a href="#">Bombardier Dash 8</a></li>
              <li><a href="#">Bombardier Q400</a></li>
              <li><a href="#">Cessna 208 Caravan</a></li>
              <li><a href="#">Embraer 120</a></li>
            </ul>
          </div>
        </div>
        <h3>Major Destinations</h3>
        <p>These are just a handful of our 42 destinations we proudly serve.</p>
        <div class="wrapper">
          <div class="cols">
            <ul class="list1">
              <li><a href="#">Chicago, IL</a></li>
              <li><a href="#">Louisville, KY</a></li>
              <li><a href="#">Indianapolis, IN</a></li>
              <li><a href="#">Des Moines, IA</a></li>
              <li><a href="#">Sioux Falls, SD</a></li>
              <li><a href="#">St Louis, MO</a></li>
            </ul>
          </div>
          <div class="cols pad_left1">
            <ul class="list1">
              <li><a href="#">Kansas City, MO</a></li>
              <li><a href="#">Milwaulkee, WI</a></li>
              <li><a href="#">Twin Cities (Saint Paul & Minneapolis) </a></li>
              <li><a href="#">Detroit, MI</a></li>
            </ul>
          </div>
        </div>
      </article>
    </div>
  </section>
  <!--content end-->
  <!--footer -->
  <footer>
    <div class="wrapper">
      <ul id="icons">
        <li><a href="#" class="normaltip"><img src="images/icon1.jpg" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="images/icon2.jpg" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="images/icon3.jpg" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="images/icon4.jpg" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="images/icon5.jpg" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="images/icon6.jpg" alt=""></a></li>
      </ul>
      <div class="links">Copyright Midwest Airlines &copy; <a href="#">FlyMidwest</a> All Rights Reserved<br>
      </div>
  </footer>
  <!--footer end-->
</div>
<script type="text/javascript">Cufon.now();</script>
</body>
</html>